.blog-box {
  height: 633.33;
  width: 1196px;
  margin: 90px 122px 0 122px;

  /* background-color: rgb(231, 231, 214); */
}

.blog-head {
  display: flex;
  justify-content: space-between;

  /* background-color: blue; */
}

.blog-head h3 {
  font-size: 30px;
  color: #283751;
  /* font-family: "Poppins", sans-serif; */
  font-weight: 600;
}

.blog-head button {
  /* padding: 10px 20px; */
  height: 40px;
  width: 137px;
  font-size: 12px;
  border-radius: 25px;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: #ea4232;
  color: #fcfcfc;
}

.blog-head button:hover {
  cursor: pointer;
}

.blog-box-One {
  /* width: 66%; */
  /* height: 55vh; */
  display: flex;
  gap: 28px;

  /* background-color: yellow; */
}

.blog-cards-box {
  display: flex;
  justify-content: space-between;
  height: 527px;
  width: 1196px;
  gap: 30px;
  margin-top: 53px;
}

.blog-cardBox {
  display: flex;
  /* justify-content: space-between; */
  gap: 28px;
  height: 495px;
  width: 380px;
  border-radius: 10px;
}

.blogTwoCardBox {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  height: 119px;
  width: 378px;
  padding-bottom: 42px;
  border-bottom: 1px solid #ddd;
}

.blogs-card {
  padding: 20px 0;
}

.blog-box-Two {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 33%;
}

.testiPic {
  object-fit: cover;
  border-radius: 10px;
}

.date-category {
  width: 250px;
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-start;
  text-align: left;
  margin-bottom: 10px;
  gap: 15px;

  /* background-color: #ea4232; */
}

.blog-right-date {
  font-size: 16px;
  width: 120px;
  /* background-color: yellow; */
}

.blog-right-category {
  width: 100px;
  /* background-color: greenyellow; */
}

.dateCategory {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;

  /* background-color: aquamarine; */
}

.blogCardOneDetails {
  margin-top: 14px;
}

.blogCardOneDetails p {
  font-size: 16px;
}

.blogCardOneDetails h5 {
  margin-top: 11px;
  font-size: 20px;
  font-weight: bolder;
}

.blogCardTwoTitle {
  width: 100%;
}

/* .blogCardTwoTitle h5 {
  width: 100%;
} */

.blogPartTwoTitle {
  font-size: 16px;

  /* background-color: yellow; */
}

.blogTwoDetails {
  padding: 20px;
  margin-left: 100px;
  line-height: 1.2;
  /* font-size: 1.1rem; */

  /* background-color: yellow; */
}

.blogOneDesc {
  margin-top: 8px;
  color: #64607d;
}
