.blog-box {
  height: 633.33;
  width: 1196px;
  margin: 90px 122px 0 122px;
}

.blog-head {
  display: flex;
  justify-content: space-between;
}

.blog-head h3 {
  font-size: 30px;
  color: #283751;
  font-weight: 600;
}

.blog-head button {
  height: 40px;
  width: 137px;
  font-size: 12px;
  border-radius: 25px;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: #ea4232;
  color: #fcfcfc;
}

.blog-head button:hover {
  cursor: pointer;
}

.blog-box-One {
  display: flex;
  gap: 28px;
}

.blog-cards-box {
  display: flex;
  justify-content: space-between;
  height: 527px;
  width: 1196px;
  gap: 30px;
  margin-top: 53px;
}

.blog-cardBox {
  display: flex;
  gap: 28px;
  height: 495px;
  width: 380px;
  border-radius: 10px;
}

.blogTwoCardBox {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  height: 119px;
  width: 378px;
  padding-bottom: 42px;
  border-bottom: 1px solid #ddd;
}

.blogs-card {
  padding: 20px 0;
}

.blog-box-Two {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 33%;
}

.testiPic {
  object-fit: cover;
  border-radius: 10px;
}

.date-category {
  width: 250px;
  display: flex;
  align-items: flex-start;
  text-align: left;
  margin-bottom: 10px;
  gap: 15px;
}

.blog-right-date {
  font-size: 16px;
  width: 120px;
}

.blog-right-category {
  width: 100px;
}

.blogCardOneDetails {
  margin-top: 14px;
}

.blogCardOneDetails p {
  font-size: 16px;
}

.blogCardOneDetails h5 {
  margin-top: 11px;
  font-size: 20px;
  font-weight: bolder;
}

.blogCardTwoTitle {
  width: 100%;
}

.blogPartTwoTitle {
  width: 200px;
  font-size: 16px;
}

.blogTwoDetails {
  padding: 20px;
  margin-left: 100px;
  line-height: 1.2;
}

.blogOneDesc {
  margin-top: 8px;
  color: #64607d;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .blog-container {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .blog-box {
    height: 409.87px;
    width: 774px;
    margin: 0 30px 60px 30px;
  }

  .blog-head {
    display: flex;
    justify-content: space-between;
  }

  .blog-head h3 {
    font-size: 19.41px;
  }

  .blog-head button {
    height: 25.89px;
    width: 88.66px;
    font-size: 7.77px;
    border-radius: 25.89px;
  }

  .blog-cards-box {
    height: 341.05px;
    width: 774px;
    gap: 19.41px;
    margin-top: 41.07px;
  }

  .blog-box-One {
    display: flex;
    gap: 18.12px;
  }

  .blog-cardBox {
    display: flex;
    gap: 18.12px;
    height: 321.1px;
    width: 245.92px;
    border-radius: 6.47px;
  }

  .blogs-card {
    padding: 0;
  }

  .testiPic {
    border-radius: 6.47px;
    height: 174.73px;
    width: 244.63px;
    object-fit: cover;
  }

  .blogCardOneDetails {
    margin-top: 19.06px;
  }

  .blogCardOneDetails p {
    font-size: 10.35px;
  }

  .blogCardOneDetails h5 {
    margin-top: 6.53px;
    font-size: 12.94px;
  }

  .blogOneDesc {
    font-size: 10.35px;
  }

  .blogTwoCardBox {
    display: flex;
    gap: 10.36px;
    height: 77.01px;
    width: 244.63px;
    padding-bottom: 17.47px;
  }

  .blogTwoDetails {
    padding: 15px;

    margin-left: 60px;
    line-height: 0.9;
  }

  .date-category {
    width: 120.13px;
    display: flex;
    align-items: flex-start;
    text-align: left;
    /* margin-bottom: 0.06px; */

    margin-bottom: 8px;
    gap: 11.13px;

    /* background-color: greenyellow; */
  }

  .blog-right-date {
    font-size: 10.35px;
    width: 61px;

    /* background-color: green; */
  }

  .blog-right-category {
    width: 48px;
    font-size: 10.35px;
  }

  .dateCategory {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
  }

  .blogPartTwoTitle {
    width: 160px;
    font-size: 10.35px;
    line-height: 1;
  }
}

@media (min-width: 430px) and (max-width: 767px) {
  .blog-box-Two {
    display: none;
  }

  .blog-container {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .blog-box {
    height: 411.88;
    width: 410px;
    margin: 60px 0 0 20px;
  }

  .blog-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .blog-head h3 {
    font-size: 18px;
    color: #283751;
    font-weight: 600;
  }

  .blog-head button {
    height: 25.89px;
    width: 88.66px;
    font-size: 7.77px;
    border-radius: 25.89px;
    font-weight: 700;
    outline: none;
    border: none;
    background-color: #ea4232;
    color: #fcfcfc;
    margin-right: 20px;
  }

  .blog-cards-box {
    display: flex;
    justify-content: space-between;
    height: 298px;
    width: 410px;
    gap: 15.77px;
    margin-top: 30px;
  }

  .blog-box-One {
    display: flex;
    gap: 15.77px;
  }

  .blog-cardBox {
    display: flex;
    gap: 15.77px;
    height: 298.24px;
    width: 228.23px;
    border-radius: 6.01px;
  }

  .blogs-card {
    padding: 0;
  }

  .testiPic {
    height: 162.16px;
    width: 227.03px;
    object-fit: cover;
    border-radius: 6.01px;
  }

  .blogCardOneDetails {
    margin-top: 8.41px;
  }

  .blogCardOneDetails p {
    font-size: 12px;
    font-weight: 100;
  }

  .blogCardOneDetails h5 {
    margin-top: 5.62px;
    font-size: 14px;
    font-weight: bolder;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .blogOneDesc {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .dateCategory {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
  }
}
