.footerBox {
  margin-top: 100px;
  background-image: url(/Footer-image.png);
  background-size: cover;
  background-position: center;
  /* border-top-right-radius: 70px;
  border-top-left-radius: 70px; */
  height: 720px;
  /* width: 1460px; */
  width: 100%;
}

.footer-head {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.footer-head h2 {
  font-size: 44px;
  font-weight: 600;
  color: #fcfcfc;
}

.footer-talk-btn {
  padding: 15px 25px;
  border-radius: 30px;
  outline: none;
  border: none;
  background-color: #ea4232;
  color: #fcfcfc;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-talk-btn .footerTalkIcon {
  color: #fcfcfc;
}

.footerTalkIcon {
  margin-left: 10px;
  font-size: 20px;
  color: #ea4232;
  background-color: #ffffff;
}

.footer-talk-btn:hover {
  cursor: pointer;
}

.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 100px;
  /* border-top-right-radius: 70px;
  border-top-left-radius: 70px; */

  /* background-color: #283751; */
}

#footer-horizontalLine {
  width: 1280px;
  height: 1px;
  background-color: #ea4232;
  margin: 20px 0;
}

.footer-mid {
  margin: 0 100px 0 100px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;

  /* background-color: pink; */
}

.footerOptions {
  width: 65%;
  display: flex;
  justify-content: space-around;
}

.footer-logoBox {
  width: 35%;

  /* background-color: yellow; */
}

.footerLogo {
  width: 50%;
  margin: 20px 0;
  display: flex;
  justify-content: left;
  align-items: flex-start;

  /* background-color: aliceblue; */
}

.footer-section {
  /* background-color: aqua; */
  margin-top: 50px;
}

.footer-section h4 {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #fcfcfc;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin: 15px 0;
  color: #b6b8bc;
  transition: all 0.3s ease;
  font-size: 0.9rem;
}

.footer-section ul li a {
  color: #fcfcfc;
}

.footer-section ul li:hover {
  border-bottom: 1px solid #ea4232;
}

.footerLogoContent p {
  line-height: 1.5;
  color: #b6b8bc;
  font-size: 0.9rem;
}

/* .footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

#footer-bottom-horizontalLine {
  width: 90%;
  /* width: 1280px; */
  height: 1px;
  background-color: #3d414c;
  /* margin: 20px; */
}

.footer-bottom p {
  color: #fcfcfc;
  margin-top: 20px;
}

.talkArrow-icon {
  margin-left: 5px;
}

.talk-icon {
  color: #ffffff;
  font-size: 20px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .footer-container {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .footerBox {
    width: 834px;
    height: 399.99px;
  }

  .footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
  }

  #footer-horizontalLine {
    width: 743.09px;
    height: 1px;
    background-color: #ea4232;
    margin: 0;
    padding: 0;
  }

  .footer-head {
    width: 626.98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 23.22px 58.05px 22.06px 58.05px;

  }

  .talkArrow-icon {
    height: 9px;
    width: 9px;
    margin-left: 4px;
  }

  .footer-head h2 {
    height: 61px;
    font-size: 25.54px;
    line-height: 1.2;
  }

  .footer-talk-btn {
    height: 39.47px;
    width: 98.08;
    border-radius: 58.04px;
    outline: none;
    border: none;
    font-weight: 600;
    padding: 0;
    font-size: 10.45px;
  }

  .footer-mid {
    height: 148.62px;
    width: 743.09px;
    margin: 58.05px 46.66px 23.22px 46.44px;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .footer-logoBox {
    height: 122.49px;
    width: 239.76px;
  }

  .footer-logo {
    height: 24.16px;
    width: 75.46px;
  }

  .footerLogo {
    margin: 3.48px 160.82px 9.52px 3.48px;
  }

  .footerLogoContent p {
    font-size: 9.29px;
    line-height: 1.4;
    margin: 0;
    padding: 0;
  }

  .footerOptions {
    height: 153.09px;
    width: 469.16px;
    display: flex;
    justify-content: space-around;
  }

  .footer-section {
    margin-top: 0;

    /* background-color: aqua; */
  }

  .footer-section h4 {
    font-size: 10.45;
    margin-bottom: 13.93px;
  }

  .footer-section ul {
    list-style: none;
  }

  .footer-section ul li {
    margin: 9.29px 0;
    transition: all 0.3s ease;
    font-size: 10.45px;
  }

  .footer-bottom {
    margin: 0;
    padding: 0;

    /* background-color: greenyellow; */
  }

  #footer-bottom-horizontalLine {
    width: 743.08px;
    height: 1px;
    margin: 0 0 0 0;
  }

  .footer-bottom p {
    font-size: 10.45px;
    margin: 23.22px 0 22.48px 0;
  }
}
