.nav-box {
  padding: 50px 100px 0 101px;
  height: 130px;
  width: 1480px;
  background-color: #fffdf5;
}

.navbar {
  background-color: #283751;

  width: 1239px;
  height: 80px;
  border-radius: 42px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 50;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.logo {
  height: 100%;
}

.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlinksbox {
  width: 681.5px;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  align-items: center;
}

.navLinks {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #273751;
  border-radius: 8px;
}

.navLinks.showMenu {
  display: block;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: all .4s ease;
}

.navLinks li {
  padding: 1rem;
  text-align: center;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.1); */
}

.navLinks li:last-child {
  border: none;
}

.navLinks a {
  text-decoration: none;
  color: #fcfcfc;
  font-weight: 500;
  font-size: 14px;
}

.navCall-btn {
  height: 36px;
  width: 143px;
  border: 1px solid #f74143;
  border-radius: 80px;
  background-color: #fcfcfc;
  font-size: 14px;
}

.menuButton {
  background: none;
  border: none;
  color: #fcfcfc;
  font-size: 1.8rem;
  cursor: pointer;
}

.navCall-btn:hover {
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .nav-box {
    height: 102px;
    display: flex;
    justify-content: center;
    background-color: #fffdf5;
  }

  .navbar {
    width: 774.34px;
    height: 51px;
    border-radius: 42px;
  }

  .container {
    height: 51px;
    width: 774px;
  }

  .navLinks {
    display: flex;
    background-color: transparent;
    position: static;
    box-shadow: none;
  }

  .menuButton {
    display: none;
  }

  .navLinks li {
    padding: 0;
    margin-left: 1.5rem;
    border: none;
  }

  .navLinks a {
    font-size: 12px;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
  }

  .logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    text-decoration: none;
  }

  .navbar-logo {
    height: 35.41px;
    width: 117px;
  }

  .navCall-btn {
    height: 22px;
    width: 96px;
    font-size: 10px;
  }
}

@media (min-width: 430px) and (max-width: 767px) {
  .nav-box {
    width: 430px;
    background-color: #fffdf5;
  }

  .main-container {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .nav-box {
    height: 101px;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #fffdf5;
  }

  .navbar {
    background-color: #283751;
    width: 390px;
    height: 74px;
    border-radius: 52px;
    position: sticky;
    top: 0;
    z-index: 50;
    margin-top: 27px;
  }

  /* .navlinksbox {
    display: none;
    position: absolute;
    top: 72px;
    left: 50%;
    transform: translateX(-50%);
    width: 390px;
    background: #fffdf5;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    margin: 5px 0;
  } */

  .navlinksbox {
    position: absolute;
    top: 72px;
    left: 50%;
    transform: translateX(-50%);
    width: 390px;
    background: #fffdf5;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    padding: 0;
    overflow: hidden;
    max-height: 0;
  }

  .navlinksbox.showMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    max-height: 320px;
  }

  .navbar-logo {
    height: 35.41px;
    width: 117px;
  }

  .navlinksbox.showMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 390px;
    gap: 8px;
  }

  .navlinksbox.showMenu ul li {
    padding: 8px 0;
    width: 100%;
  }

  .navmenu-icons {
    margin-top: 8px;
    font-size: 25px;
    background-color: #ea4232;
  }

  .navCall-btn {
    display: none;
  }
}
