.nav-box {
  background-color: #fffdf5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;

  /* background-color: blue; */
}

.navbar {
  background-color: #283751;
  width: 85%;
  border-radius: 45px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 50;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.logo {
  height: 100%;
}

.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlinksbox {
  width: 52%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #273751;
  border-radius: 8px;
}

.navLinks.showMenu {
  display: block;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navLinks li {
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navLinks li:last-child {
  border: none;
}

.navLinks a {
  text-decoration: none;
  color: #fcfcfc;
  font-weight: 500;
}

.navCall-btn {
  padding: 6px 12px;
  border: 1px solid #f74143;
  border-radius: 15px;
  background-color: #fcfcfc;
}

.menuButton {
  background: none;
  border: none;
  color: #fcfcfc;
  font-size: 1.8rem;
  cursor: pointer;
}

.navCall-btn:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .navLinks {
    display: flex;
    background-color: transparent;
    position: static;
    box-shadow: none;
  }

  .menuButton {
    display: none;
  }

  .navLinks li {
    padding: 0;
    margin-left: 1.5rem;
    border: none;
  }
}