.main-container {
  height: 95vh;
  padding: 0 100px;
  background-color: #fffdf5;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-bottom: 50px;
}

.nav-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  /* background-color: blueviolet; */
}

.text-container {
  display: inline-flex;
  position: relative;
  font-size: 4rem;
  font-weight: bold;
}

.dot {
  width: 11.1px;
  height: 11.1px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  bottom: 65px;
  left: 155.6px;
}

/* .red-flag {
  position: relative;
  background-image: url(/Images/red-flag.png);
  background-repeat: no-repeat;
  background-position: 290px center;
  height:10vh;
  width: 100%;
} */

.top-brand {
  /* background-color: #f74143; */
  /* color: #ffffff; */
  color: #f74143;
  padding: 5px 10px;
  border-radius: 5px;
}

.bussin-num p {
  letter-spacing: 1px;
  line-height: 20px;
  color: #515762;
  font-size: 15px;
}

.navbar {
  background-color: #283751;
  width: 100%;
  border-radius: 45px;
  margin: 100px 0 45px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 50;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}

.navlinksbox {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #273751;
  border-radius: 8px;
}

.navLinks.showMenu {
  display: block;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navLinks li {
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navLinks li:last-child {
  border: none;
}

.navLinks a {
  text-decoration: none;
  color: #fcfcfc;
  font-weight: 500;
}

.navCall-btn {
  padding: 6px 12px;
  border: 1px solid #f74143;
  border-radius: 15px;
  background-color: #fcfcfc;
}

.menuButton {
  background: none;
  border: none;
  color: #fcfcfc;
  font-size: 1.8rem;
  cursor: pointer;
}

.navCall-btn:hover {
  cursor: pointer;
}

.mainsection {
  display: flex;
  align-items: center;
}

.main-content {
  height: 80vh;
  width: 100%;
  /* background-color: aliceblue; */
  display: flex;
  align-items: center;
}

.mainsec-left {
  /* background-color: violet; */
  height: 60vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainsec-right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  /* background-color: aqua; */
}

.main-image {
  height: 60vh;
  width: auto;
}

.mainsec-boxOne {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: rgb(85, 132, 132); */
}

.mainsec-boxOne h1 {
  font-size: 64px;
  font-weight: 600;
  padding-bottom: 15px;
  color: #273751;
}

.mainsec-boxOne p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #273751;
}

.getStartBtn {
  padding: 14px 35px;
  background-color: #f74143;
  border: none;
  outline: none;
  border-radius: 25px;
  color: #fcfcfc;
  font-size: 16px;
  font-weight: 700;
}

.getStartBtn:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .navLinks {
    display: flex;
    background-color: transparent;
    position: static;
    box-shadow: none;
  }

  .menuButton {
    display: none;
  }

  .navLinks li {
    padding: 0;
    margin-left: 1.5rem;
    border: none;
  }
}
