.partnerBox {
  height: 242px;
  width: 1340px;
  margin: 90px 50px 0 50px;

  /* background-color: aqua; */
}

.partner-top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.partner-top h2 {
  margin: 0;
  padding: 0;
  font-size: 65px;
  letter-spacing: -3px;
  color: #283751;
  font-weight: 500;

  /* background-color: green; */
}

#partnerHorizontalLine {
  margin-top: 20px;
  width: 166px;
  height: 2px;
  background-color: #ea4232;
}

.partner-pic {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* background-color: rgb(29, 139, 103); */
}

.partner-img {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 75px 59px 52px 60px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .partner-component {
    display: flex;
    justify-content: center;
  }

  .partnerBox {
    width: 787.09px;
    height: 123.12px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .partner-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 29.1px;
    margin: 0 23.92px 60px 0;
  }

  .partner-top h2 {
    font-size: 40px;
  }

  #partnerHorizontalLine {
    width: 107.01px;
    height: 1.29px;
    margin-top: 14.06px;
  }

  .partner-pic {
    width: 787.09px;
    height: 26.43px;
    margin-top: 48.35px;
  }

  .partner-pic {
    width: 81.87px;
    height: 23.85px;
  }
}

@media (min-width: 430px) and (max-width: 767px) {
  .partner-component {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .partnerBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 21px 0 57.43px 20px;

    background-color: greenyellow;
  }

  .partner-top {
    background-color: pink;
  }

  .partner-top h2 {
    font-size: 28.18px;
    letter-spacing: 0.2;
  }

  .partner-pic {
    height: 20.33px;
    width: 69.8px;

    background-color: yellow;
  }

  .partner-img {
    height: 22px;
    width: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 430px) and (max-width: 767px) {
  .whoWe-container {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .whoWeBox {
    height: 560.78px;
    width: 388.78px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-color: greenyellow;
  }

  .whoWeleft h4 {
    font-size: 7.48px;
  }

  .whoWeleft h2 {
    font-size: 39.76px;
  }

  .whoWeleft p {
    font-size: 12px;
    margin-bottom: 12px;
    padding: 0;
  }

  .whoWeRight {
    height: 274.05px;
    width: 386.76px;
    object-fit: contain;
    display: flex;
    justify-content: center;
  }

  .whoWeRight {
    height: 274.05px;
    width: 386.76px;
  }
}
