.partnerBox {
  height: 242px;
  width: 1340px;
  margin: 90px 50px 0 50px;

  /* background-color: aqua; */
}

.partner-top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.partner-top h2 {
  margin: 0;
  padding: 0;
  font-size: 65px;
  letter-spacing: -3px;
  color: #283751;
  font-weight: 500;

  /* background-color: green; */
}

#partnerHorizontalLine {
  margin-top: 20px;
  width: 166px;
  height: 2px;
  background-color: #ea4232;
}

.partner-pic {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* background-color: rgb(29, 139, 103); */
}

.partner-img {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 75px 59px 52px 60px;
}

.partner-picBox {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.partner-img {
  display: flex;
  gap: 40px;
  width: max-content;
  animation: slide 45s linear infinite;
}

.partner-img img {
  flex-shrink: 0;
  width: 100px;
  height: auto;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}



@media (min-width: 768px) and (max-width: 1024px) {
  .partner-component {
    display: flex;
    justify-content: center;
  }

  .partnerBox {
    width: 787.09px;
    height: 123.12px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .partner-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 29.1px;
    margin: 0 23.92px 60px 0;
  }

  .partner-top h2 {
    font-size: 40px;
  }

  #partnerHorizontalLine {
    width: 107.01px;
    height: 1.29px;
    margin-top: 14.06px;
  }

  .partner-pic {
    width: 787.09px;
    height: 26.43px;
    margin-top: 48.35px;
  }

  .partner-pic {
    width: 81.87px;
    height: 23.85px;
  }
}

@media (min-width: 430px) and (max-width: 767px) {
  .partner-component {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .partnerBox {
    height: 242px;
    width: 1340px;
    /* margin: 90px 50px 0 50px; */
  }

  .partnerBox {
    width: 430px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* background-color: greenyellow; */
  }

  .partner-top h2 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0;
  }

  #partnerHorizontalLine {
    width: 55.74px;
    height: .67px;
    margin: 0;
  }

  .partner-picBox {
    height: 22px;
    width: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 22.1px;

    /* background-color: red; */
  }

  .partner-img {
    width: 410px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    /* margin: 75px 59px 52px 60px; */
    margin: 0;

    display: flex;
    gap: 20px;
    width: max-content;
    animation: slide 45s linear infinite;
  }

  .partner-pic {
    height: 14.84px;
    width: 56.06px;
  }
}