.topsection {
  height: 607px;
  width: 1460px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;

  background-color: #fffdf5;
}

.top-headingH1 {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.text-container {
  display: inline-flex;
  position: relative;
  font-size: 4rem;
  font-weight: bold;
}

.dot {
  width: 11.1px;
  height: 11.1px;
  background-color: #ea4232;
  border-radius: 50%;
  position: absolute;
  bottom: 65px;
  left: 155.6px;
}

.red-flag {
  position: relative;
  display: inline-block;
}

.red-flag span {
  position: relative;
  display: inline-block;
  z-index: 2;
  padding: 8px 24px 8px 12px;
  background-color: transparent;
}

.red-flag span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 385px;
  height: 100%;
  background-color: #ea4232;
  transform: rotate(-3deg);
  z-index: -1;
  transform-origin: left bottom;
}

.top-brand {
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
}

.bussin-num p {
  letter-spacing: 1px;
  line-height: 20px;
  color: #515762;
  font-size: 15px;
}

.mainsection {
  display: flex;
  flex-direction: row;
}

.main-content {
  width: 100%;
  display: flex;
}

.mainsec-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 580px;
  width: 770px;
  margin: 63.5px 0 63.5px 100px;
}

.mainsec-right {
  height: 426px;
  width: 392px;
  margin: 90.5px 100px 90.5px 78px;
}

.mainsec-boxOne {
  display: flex;
  flex-direction: column;
}

.mainsec-boxOne h1 {
  font-size: 64px;
  font-weight: 700;
  color: #273751;
  font-family: "Poppins";
}

.mainsec-boxOne p {
  width: 760px;
  font-size: 16px;
  margin-top: 15.5px;
  color: #273751;
  font-family: "Poppins";
}

.getStartBtn {
  height: 60px;
  width: 179px;
  background-color: #f74143;
  border: none;
  outline: none;
  border-radius: 40px;
  color: #fcfcfc;
  font-size: 16px;
  font-weight: 700;
  margin-top: 146.5px;
  transition: background-color 0.3s ease;
}

.getStartBtn:hover {
  cursor: pointer;
  background-color: #cb3437;
}

@media (min-width: 768px) and (max-width: 1024px) {
  
  .topsection {
    height: 502px;
    width: 834px;

    margin: auto;
    display: flex;
    justify-content: center;
  }

  .mainsection {
    display: flex;
    justify-content: center;
  }

  .main-content {
    display: flex;
    flex-direction: row;
    height: 298.97px;
    margin: 63.52px 31.59px 60.62px 30.22px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .mainsec-left {
    display: flex;
    justify-content: center;
    height: 298.97px;
    width: 467.67px;
    margin: 0 0 60.52px 0;
  }

  .mainsec-boxOne h1 {
    font-size: 39.86px;
  }

  .mainsec-boxOne p {
    margin-top: 24.6px;
    font-size: 9.96px;
  }

  .red-flag span {
    position: relative;
    display: inline-block;
    z-index: 2;
    padding: 4px 18px 6px 6px;
    background-color: transparent;
  }

  .red-flag span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 245px;
  }

  .mainsec-boxOne {
    height: 298.97px;
    width: 772.19px;
    font-size: 9.96px;
    margin-top: 9px;
    display: flex;
    flex-direction: column;
  }

  .getStartBtn {
    height: 37.42;
    width: 111.47;
    font-size: 9.96px;
  }

  .top-brand {
    color: #ffffff;
    padding: 3px 6px;
    border-radius: 3px;
  }

  .mainsec-right {
    height: 265.28px;
    width: 244.11px;
    margin: 0 0 77.36px 50.61px;
  }

  .main-image {
    height: 265.28px;
    width: 244.11px;
  }
}
