.topsection {
  height: 607px;
  /* height: 700px; */
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin-bottom: 100px;

  background-color: #fffdf5;
  /* background-color:orange; */
}

.mainsection {
  margin: 0 100px;
}

.text-container {
  display: inline-flex;
  position: relative;
  font-size: 4rem;
  font-weight: bold;
}

.dot {
  width: 11.1px;
  height: 11.1px;
  background-color: #ea4232;
  border-radius: 50%;
  position: absolute;
  bottom: 65px;
  left: 155.6px;
}

.red-flag {
  position: relative;
  display: inline-block;
}

.red-flag span {
  position: relative;
  display: inline-block;
  z-index: 2;
  padding: 8px 24px 8px 12px;
  background-color: transparent;
}

.red-flag span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 100%;
  background-color: #ea4232;
  transform: rotate(-3deg);
  z-index: -1;
  transform-origin: left bottom;
}

.top-brand {
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
}

.bussin-num p {
  letter-spacing: 1px;
  line-height: 20px;
  color: #515762;
  font-size: 15px;
}

.mainsection {
  display: flex;

  /* background-color: green; */
}

.main-content {
  /* height: 70vh; */
  width: 100%;
  display: flex;
  margin-top: 50px;

}

.mainsec-left {
  height: 62vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainsec-right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.main-image {
  margin-top: 30px;
  width: auto;
}

.mainsec-boxOne {
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 100%;
}

.mainsec-boxOne h1 {
  font-size: 64px;
  font-weight: 600;
  padding-bottom: 15px;
  color: #273751;
}

.mainsec-boxOne p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #273751;
}

.getStartBtn {
  padding: 20px 55px;
  background-color: #f74143;
  border: none;
  outline: none;
  border-radius: 35px;
  color: #fcfcfc;
  font-size: 16px;
  font-weight: 700;
}

.getStartBtn:hover {
  cursor: pointer;
}
/* __________________________________________ */
