.bussiBox {
  /* display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center; */
  height: 1011px;
  width: 1250px;
  margin: 90px 90px 0 100px;
}

.bussiBoxTop {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.bussiBoxTop p {
  width: 867px;
  height: 44px;
  font-size: 16px;
  color: #616161;
  margin-top: 31px;
}

.bussiSecondBox {
  display: flex;
  height: 798px;
  width: 1250px;
  margin-top: 63px;
}

.bussiBoxLeft {
  display: flex;
}

.bussiLeft-boxone {
  display: flex;
}

.bussiLine {
  font-size: 7rem;
  fill: #ea4232 !important;
}

#horizontalLine {
  width: 166px;
  height: 2px;
  background-color: #ea4232;
  margin-top: 20px;
}

#vertiLine {
  margin-right: 25px;
  width: 4px;
  height: 162px;
  background-color: #ea4232;
}

.bussin-num {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.bussin-num h3 {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 35px;
}

.bussin-num p {
  font-size: 20px;
  color: #828282;
}

.bussiBoxRight {
  margin-left: 37px;

  /* background-color: green; */
}

.bussiLeft-second-one {
  margin-left: 133px;
}

.bussiLeft-second-two {
  margin-left: 128px;
}

.bussiLeft-second-two {
  margin-top: 110px;
}

.customer19 {
  margin-top: 110px;
}

.bussiCont,
.bussiContTwo {
  margin-top: 145px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .bussiBox {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 638px;
    margin-bottom: 60px;

    /* background-color: yellow; */
  }

  .bussiBoxTop-head {
    font-size: 40px;
  }

  .bussiSecondBox {
    display: flex;
    flex-direction: row;
    gap: 0;
    height: 503.58px;
    width: 788.42px;

    /* background-color: greenyellow; */
  }

  .bussiBoxLeft {
    margin-bottom: 138.2px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #horizontalLine {
    width: 104.76px;
  }

  .bussiBoxTop p {
    width: 651px;
    font-size: 12px;
  }

  .bussiLeft-second-one,
  .bussiLeft-second-two {
    margin-left: 83.76px;
  }

  .bussiBoxRight {
    margin: 0;
  }

  .brightBussiImg {
    width: 100%;
    width: 500px;
    height: 503px;
    object-fit: contain;
  }

  .bussin-num {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .bussin-num h3 {
    font-size: 37.86px;
    font-weight: 400;
    margin-bottom: 31.42px;
  }

  .bussin-num p {
    font-size: 12.62px;
    color: #828282;
  }

  #vertiLine {
    height: 128px;
    width: 2.52px;
  }
}

@media (min-width: 430px) and (max-width: 767px) {
  .bissi-container {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .bussiBox {
    height: 677.38px;
    width: 407.8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bussiBoxTop {
    margin: 0;
    padding: 0;
  }

  .bussiLeft-second-two {
    margin: 0;
  }

  .bussiBoxTop h2 {
    font-size: 24px;
  }

  .horizontalLine-bussi {
    width: 112px;
    height: 1px;
    /* background-color: #ea4232; */
  }

  .bussiBoxTop p {
    height: 80px;
    width: 390px;
    font-size: 14px;
  }

  .bussiBoxLeft {
    margin: 0;
    /* background-color: greenyellow; */
  }

  .bussiCont {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 12px;

    /* background-color: rgb(93, 187, 193); */
  }

  .bussiContTwo {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  #vertiLine {
    margin-right: 0;
    height: 88.12px;
    width: 2.18px;
  }

  .bussiLeft-second-one,
  .bussiLeft-second-Two {
    margin: 0 0 0 16px;
  }

  .customer19 {
    margin: 0;
    padding: 0;
  }

  .bussiLeft-boxone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 16px;
    height: 91.83px;

  }

  .bussin-num {
    display: flex;
    text-align: left;
    justify-content: space-between;
    gap: 0;

    /* background-color: pink; */
  }

  .bussin-num h3 {
    font-size: 32.64px;
    margin-bottom: 8px;
  }

  .bussiSecondBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 45px;
  }

  .bussiBoxRight {
    margin: 0;
    height: 380.38px;
    width: 378px;
  }

  .brightBussiImg {
    height: 380.38px;
    width: 378px;
    object-fit: contain;
  }

  .bussin-num p {
    font-size: 6px;
  }
}
