.projectBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 100px;
}

.projFilter {
  width: 70%;
  background-color: #fffdf5;
  padding: 10px 15px;
  border-radius: 30px;
}

.projFilter ul {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.projFilter ul li {
  list-style: none;
  padding: 15px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.projFilter ul li:hover {
  background-color: #ea4232;
  color: #fcfcfc;
  cursor: pointer;
}

.projectImage {
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

.proj-card {
  height: 75vh;
  /* width: 100%; */
  background-color: #fffdf5;
  padding: 18px;
  border-radius: 20px;
  display: flex;
  text-align: left;
  flex-direction: column;

  /* background-color: yellow; */
}

/* .projectCardBox {
  margin: 40px 0;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: aquamarine;
}

.proj-card {
  transition: all 0.3s ease;
}

.proj-card:hover {
  cursor: pointer;
  transform: translateY(-10px);
  border: 1px solid #515762;
} */

.projectCardBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 90vh;
  width: 100%;
  gap: 70px;

  /* background-color: aquamarine; */
}

.proj-card {
  /* width: 100%; */
  height: 77vh;
  max-width: 500px;
  padding: 12px;
  border-radius: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease;

  /* background-color: yellow; */
}

.proj-card:hover {
  cursor: pointer;
  transform: translateY(-10px);
  /* border: 1px solid #515762; */
}


.projImgs {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 500px;
  position: relative;
}

.projImgs {
  object-fit: cover;
}

.proj-card h3 {
  margin: 15px 0;
  font-size: 1.3rem;
}

.proj-card p {
  width: 100%;
  font-size: 0.9rem;
  line-height: 1.3;
  color: #515762;
}
