.projectBox {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  margin: 44.67px 100px 0 100px;

  /* background-color: aquamarine; */
}

.projFilter {
  height: 72px;
  width: 884px;
  background-color: #fffdf5;
  padding: 10px 12px;
  border-radius: 100px;
  margin: 0 198px;
  font-family: "Inter", sans-serif;
}

.project-rightBox {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 200px; */
}

.next-previewIcon {
  display: flex;
  gap: 10px;
  margin-top: 45px;
}

.projleftIcon,
.projrightIcon {
  /* font-size: 40px; */
  height: 34px;
  width: 35px;
  fill: #ea4232;
}

.projleftIcon,
.projrightIcon:hover {
  cursor: pointer;
}

.projFilter ul {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.projFilter ul li {
  list-style: none;
  padding: 15px;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s ease;
  font-family: "Poppins", sans-serif;
}

.projFilter ul li:hover {
  background-color: #ea4232;
  color: #fcfcfc;
  cursor: pointer;
}

.projectImage {
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

.proj-card {
  height: 62vh;
  background-color: #fffdf5;
  padding: 18px;
  border-radius: 20px;
  display: flex;
  text-align: left;
  flex-direction: column;
}

.projectCardBox {
  display: flex;
  flex-direction: row;
  margin-top: 45.33px;
  /* justify-content: center; */
  /* align-items: center; */
  flex-wrap: wrap;
  height: 755px;
  width: 1280px;
  gap: 20px;

  /* background-color: green; */
}

.proj-card {
  height: 755px;
  width: 630px;
  padding: 12px;
  border-radius: 32px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.proj-card:hover {
  cursor: pointer;
}

.projImgs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 598px;
  height: 579px;
  position: relative;
}

.projImgs {
  object-fit: cover;
}

.proj-card h3 {
  margin: 24px 0;
  font-size: 24px;
  color: #283751;
  font-weight: 600;
  font-family: "Poppins", sans-serif;

  /* background-color: greenyellow; */
}

.proj-card p {
  width: 100%;
  font-size: 16px;
  color: #616161;
  font-family: "Poppins";
}

.default-red {
  background-color: #ea4232;
  color: #fcfcfc;
}