.testi-left h3 {
  line-height: 1.2;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}

.testi-profPic {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonialPic {
  margin-top: 30px;
  background-color: #fcfcfc;
  border-radius: 50%;
  object-fit: cover;
}

.testi-box {
  margin: 40px 100px;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.testi-head {
  display: flex;
  justify-content: space-between;
}

.testi-head h3 {
  font-size: 30px;
  margin: 5px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.testi-right {
  display: flex;
  gap: 15px;
}

.testi-icon {
  font-size: 40px;
}

.projleftIcon,
.projrightIcon {
  fill: #ea4232;
}

.testi-icon:hover {
  
  cursor: pointer;
}

.testiCardBottom {
  margin-top: 15px;
  display: flex;
}

.test-cards {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  transition: transform 0.3s ease-in-out;
}

.testi-bottom {
  margin-left: 5px;
}

.testiCard {
  position: relative;
  width: 100%;
  height: 230px;
  padding: 40px;
  border-radius: 20px;
  background-color: #fffdf5;
}

.testi-content {
  height: 12vh;
  color: #000000;
  font-size: 13px;
  text-align: justify;
  line-height: 1.3;
  /* font-family: "Avenir", Inter; */
}

.testi-name {
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.testi-role {
  font-weight: 400;
  font-size: 0.8rem;
}
