.testi-box {
  margin: 90px 100px 0 100px;
  overflow: hidden;
  font-family: "Poppins", sans-serif;

  /* background-color: aquamarine; */
}

.testi-left h3 {
  line-height: 1.2;
  font-weight: 800;
  font-family: "Poppins", sans-serif;
}

.testi-profPic {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonialPic {
  margin-top: 30px;
  background-color: #fcfcfc;
  border-radius: 50%;
  object-fit: cover;
}

.testi-head {
  display: flex;
  justify-content: space-between;
}

.testi-head h3 {
  font-size: 30px;
  margin: 5px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
}

.testi-right {
  display: flex;
  gap: 10px;
}

.testi-icon {
  font-size: 40px;
}

.projleftIcon,
.projrightIcon {
  fill: #ea4232;
}

.testi-icon:hover {
  cursor: pointer;
}

.testiCardBottom {
  margin-top: 10px;
  display: flex;

  /* background-color: greenyellow; */
}

.test-cards {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  transition: transform 0.3s ease-in-out;
}

.testi-bottom {
  margin-left: 5px;
}

.testiCard {
  position: relative;
  width: 100%;
  height: 210px;
  padding: 30px;
  border-radius: 20px;
  background-color: #fffdf5;

  /* background-color: #ea4232; */
}

.testi-content {
  height: 10vh;
  color: #000000;
  font-size: 13px;
  text-align: justify;
  line-height: 1.3;

  /* background-color: yellow; */
  /* font-family: "Avenir", Inter; */
}

.testi-name {
  margin-top: 10px;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.testi-role {
  font-weight: 400;
  font-size: 0.8rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .testi-container {
    
  }

  .testi-box {
    width: 796.91px;
    height: 248.88px;
  }

  .testi-left h4 {
    font-size: 7.76px;
  }

  .testi-left h3 {
    font-size: 18.17px;
  }

  .testi-right {
    width: 51.47px;
  }
}
