:root {
  /* --background: #FAF4E4; */
  
  /* --foreground: #171717; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


html,
body {
  background-color: #FAF4E4;
  font-family: 'Poppins';
}

html {
  scroll-behavior: smooth;
}



/* Inside globals.css or your main stylesheet */
/* @font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Poppins', sans-serif;
} */

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Poppins', sans-serif;
}

html,
body {
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #273751;
}

html,
body {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 65px;
  color: #283751;
  font-weight: 500;
  margin: 0;
  padding: 0;
}


h4 {
  font-size: 12px;
  text-transform: uppercase;
  color: #283751;
}

.redBox {
  position: relative;
  fill: #ea4232;
  font-size: 30px;
}

.doticon {
  font-size: 13px;
  position: relative;
  bottom: -1px;
  fill: #ea4232;
}

.red-point {
  font-size: 40px;
  color: #ea4232;
}

a {
  /* color: inherit; */
  text-decoration: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  
  .doticon {
    font-size: 13px;
    position: relative;
    /* bottom: -3px; */
    fill: #ea4232;
  }
}

@media (min-width: 430px) and (max-width: 767px) {
  .doticon {
    font-size: 7.77px;
    position: relative;
    /* bottom: -3px; */
    fill: #ea4232;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
