.whoWeBox {
  margin-top: 90px;
  padding: 0 100px;
  height: 544px;
  width: 1440px;
  display: flex;

  /* background-color: greenyellow; */
}

.whoWeleft {
  height: 332px;
  width: 593px;
  margin: 106px 0;
}

.whoWeleft h4 {
  font-size: 12px;
  text-transform: uppercase;
}

.whoWeleft h2 {
  font-size: 64px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.dotPic {
  top: 1px;
  font-size: 0.3rem;
}

.whoWeleft p {
  font-size: 16px;
  color: #616161;

  /* font-family: 'Avenir'; */
}

.whoweOne {
  margin-top: 40px;
  font-size: 16px;
  font-weight: 400;
}

.whoweTwo {
  margin-top: 32px;
}

.whoWeRight {
  margin-left: 105px;
  padding: 79.98px 0;
}