.contactBox {
  /* height: 686.67px; */
  height: 780px;
  width: 1267.62px;
  margin: 90px 72.38px 0 100px;

  /* background-color: yellow; */
}

.contact-head h2 {
  font-weight: 600;
  margin-top: 14px;
}

.contact-form {
  display: flex;
  margin-top: 47.67px;

  /* background-color: greenyellow; */
}

.contact-formBox {
  height: 541px;
  width: 539px;
  /* margin-top: 40px; */
  /* padding-right: 20px; */

  /* background-color: azure; */
}

.msg-textBox {
  width: 100%;
}

.contact-img {
  /* width: 50%; */
  /* display: flex;
  justify-content: flex-end;
  align-items: flex-end; */

  /* background-color: pink; */
}

.contactImage {
  /* height: 65vh;
  width: 100%; */
  margin-left: 73px;
  /* object-fit: cover; */

  /* background-color: aqua; */
}

.contact-formBox {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.contactformInput {
  display: flex;

  gap: 30px;
}

.contactInputs {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  gap: 10.67px;

  /* background-color: yellowgreen; */
}

.contactInputs input {
  height: 58px;
  width: 257px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #fffdf5;
}

.msg-textBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.msg-textBox textarea {
  height: 15vh;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 10px;
  background-color: #fffdf5;
}

.contactInputs label {
  font-size: 20px;
  font-weight: 500;
}

.msg-textBox label {
  font-weight: 500;
}

.msg-textBox textarea::placeholder {
  padding-top: 0;
  padding-left: 10px;
  letter-spacing: 1px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.contactInputs input::placeholder {
  letter-spacing: 1px;
  padding-top: 0;
  padding-left: 10px;
}

.send-msgBtn button {
  height: 60px;
  width: 209px;
  border-radius: 40px;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: #ea4232;
  margin-top: 59.67px;
  color: #fcfcfc;
  font-weight: 600;
}

.send-msgBtn button:hover {
  cursor: pointer;
}
