.contactBox {
  /* height: 686.67px; */
  height: 780px;
  width: 1267.62px;
  margin: 90px 72.38px 0 100px;

  /* background-color: yellow; */
}

.contact-head h2 {
  font-weight: 600;
  margin-top: 14px;
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 47.67px;

  /* background-color: greenyellow; */
}

.contact-formBox {
  height: 541px;
  width: 539px;
  /* margin-top: 40px; */
  /* padding-right: 20px; */

  /* background-color: azure; */
}

.msg-textBox {
  width: 100%;
}

.contact-img {
  /* width: 50%; */
  /* display: flex;
  justify-content: flex-end;
  align-items: flex-end; */

  /* background-color: pink; */
}

.contactImage {
  /* height: 65vh;
  width: 100%; */
  margin-left: 73px;
  /* object-fit: cover; */

  /* background-color: aqua; */
}

.contact-formBox {
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.contactformInput {
  display: flex;

  gap: 30px;
}

.contactInputs {
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  gap: 10.67px;

  /* background-color: yellowgreen; */
}

.contactInputs input {
  height: 58px;
  width: 257px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #fffdf5;
}

.msg-textBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.msg-textBox textarea {
  height: 15vh;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 10px;
  background-color: #fffdf5;
}

.contactInputs label {
  font-size: 20px;
  font-weight: 500;
}

.msg-textBox label {
  font-weight: 500;
}

.msg-textBox input {
  height: 72.64px;
  border-radius: 4.38px;
  border: none;
  outline: none;
  background-color: #fffdf5;
}

.msg-textBox input::placeholder,
.contactInputs input::placeholder {
  font-family: "poppins";
  padding-top: 0;
  padding-left: 10px;
}

.msg-textBox input {
  height: 116px;
  width: 539px;
  border-radius: 7px;
  letter-spacing: 0.3px;
  border: none;
  outline: none;
  background-color: #fffdf5;
}

.send-msgBtn button {
  height: 60px;
  width: 209px;
  border-radius: 40px;
  font-size: 16px;
  outline: none;
  border: none;
  background-color: #ea4232;
  margin-top: 59.67px;
  color: #fcfcfc;
  font-weight: 600;
}

.send-msgBtn button:hover {
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .contact-container {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .contactBox {
    height: 430.97px;
    width: 793.8px;
    margin: 60px 9.7px 60px 30px;
  }

  .contact-head h4 {
    font-size: 7.51px;
  }

  .contact-head h2 {
    font-size: 40.8px;
    font-weight: 600;
    padding: 0;
    margin: 0;
  }

  .contact-form {
    display: flex;
    margin-top: 0;

    /* background-color: pink; */
  }

  .contact-formBox {
    height: 339.75px;
    width: 337.53px;
    display: flex;
    gap: 18.19px;
    flex-direction: column;

    /* background-color: yellow; */
  }

  .contactformInput {
    display: flex;
    gap: 15.66px;
  }

  .contactInputs label {
    font-size: 12.52px;
    font-weight: 500;
  }

  .msg-textBox label {
    font-size: 10.02px;
    font-weight: 500;
  }

  .contactInputs input::placeholder {
    font-size: 10.02px;
  }

  .msg-textBox input::placeholder {
    font-size: 10.02px;
  }

  .contactInputs input {
    height: 36.32px;
    width: 160.94px;
    border-radius: 4.38px;
    outline: none;
    border: none;
    background-color: #fffdf5;
  }

  .msg-textBox input {
    height: 72.64px;
    width: 337.53px;
    border-radius: 4.38px;
    border: none;
    outline: none;
    background-color: #fffdf5;
  }

  .send-msgBtn button {
    height: 38.54px;
    width: 130.88px;
    border-radius: 25.05px;
    font-size: 10.02px;
    outline: none;
    border: none;
    margin-top: 37.37px;
    font-weight: 600;
  }

  .contact-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10.02px 41px 45.61px;

    /* background-color: green; */
  }

  .contactImage {
    height: 358.92px;
    width: 410.56px;
    width: 100%;
    margin: 0 10.02px 60px 0;

    /* background-color: yellow; */
  }
}

@media (min-width: 430px) and (max-width: 767px) {
  .contact-container {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .contactBox {
    width: 390px;
    margin: 60px 0 0 0;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 41.24px; */
    margin-top: 0;
  }

  .contact-formBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 390px;
    height: 460px;
  }

  .contact-head {
    margin: 0;
    padding: 0;
  }

  .contact-head h4 {
    margin-top: 0;
    font-size: 12px;
    font-weight: 300;
  }

  .contact-head h2 {
    margin-top: 0;
    font-size: 18px;
  }

  .contactImage {
    height: 358.92px;
    width: 410.56px;
    margin-left: 0;
    object-fit: cover;
  }

  .contactformInput {
    display: flex;
    gap: 18.9px;
  }

  .contactInputs {
    display: flex;
    flex-direction: column;
    gap: 10.67px;

  }

  .contactInputs input {
    height: 41.97px;
    width: 185.96px;
    border-radius: 5.06px;
    outline: none;
    border: none;
  }

  .contactInputs label {
    font-size: 11.58px;
    font-weight: 500;
  }

  .msg-textBox {
    display: flex;
    justify-content: flex-start;
    text-align: left;
  }

  .msg-textBox label {
    font-size: 11.58px;
  }

  .msg-textBox input::placeholder {
    padding-top: 18px;
    padding-left: 0;
  }

  .contactInputs input::placeholder {
    font-size: 11.58px;
  }

  .msg-textBox input {
    height: 83.93px;
    width: 390px;
    border-radius: 7px;
    letter-spacing: 0.3px;
    border: none;
    outline: none;
  }

  .send-msgBtn {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .send-msgBtn button {
    height: 44.05px;
    width: 151.22px;
    border-radius: 28.94px;
    font-size: 11.58px;
    outline: none;
    border: none;
    margin-top: 0;
    /* margin-top: 43.17px; */
  }
}
