.caseStudiesBox {
  height: 179.33px;
  width: 1240px;
  margin: 90px 100px 0 90px;
  display: flex;

  /* background-color: yellow; */
}

.caseStuleft {
  width: 587px;
  /* background-color: aqua; */
}

.caseStuleft h2 {
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: #283751;
}

.expred-flag {
  position: relative;
  display: inline-block;
  z-index: 1;
  background-color: transparent;
}

.expred-flag::before {
  content: "";
  position: absolute;
  top: 0;
  left: 36.5%;
  width: 350px;
  height: 100px;
  background-color: #ea4232;
  transform: rotate(-3deg);
  z-index: -1;
  transform-origin: left bottom;
}

.exp-fff-text {
  color: #fcfcfc;
}

.caseStuRight {
  height: 146px;
  width: 546px;
  margin: 16.67px 0 0 108px;

  /* background-color: aquamarine; */
}

.caseStuRight p {
  color: #616161;
  font-size: 16px;
  font-family: "Poppins";
}

.caseStuRight button {
  height: 40px;
  width: 143px;
  margin-top: 40px;
  border-radius: 40px;
  outline: none;
  border: none;
  background-color: #ea4232;
  color: #fcfcfc;
  font-size: 12px;
  font-weight: 600;
}

.caseStuRight button:hover {
  cursor: pointer;
}











 /* .red-flag {
    position: relative;
    display: inline-block;
    z-index: 1;
    padding: 8px 24px 8px 12px;
    background-color: transparent;
  }
  
  .red-flag::before {
    content: "";
    position: absolute;
    top: 0;
    left: 38%;
    width: 450px;
    height: 120px;
    background-color: #ea4232;
    transform: rotate(-3deg);
    z-index: -1;
    transform-origin: left bottom;
  } */