.servicesBox {
  margin: 90px 100px 0 100px;
  height: 600px;
  width: 1240px;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */

  /* background-color: yellow; */
}

.card {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: flex-start; */
  text-align: left;
  background-color: #fffdf5;
  padding: 48px 32px 48.17px 32px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 240px;
  width: 287px;
  text-align: center;
  transition: all 0.3s ease;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.servCardText p {
  margin-top: 20px;
  text-align: left;
  color: #283751;
  width: 170px;
  font-size: 22px;
  font-family: "Poppins", sans-serif;

  /* background-color: yellow; */
}

.suite-serv {
  height: 206px;
  width: 608px;

  /* background-color: aliceblue; */
}

.suite-serv h3 {
  font-size: 40px;
  font-weight: 900;
}

.suite-serv p {
  height: 64px;
  width: 608px;
  color: #283751;
  font-size: 16px;
  margin-top: 22px;
  font-family: "Poppins", sans-serif;

  /* background-color: greenyellow; */
}

.servicesContainer {
  /* width: 48%; */
  height: 240px;
  /* width: 598px; */
  width: 608px;
  display: flex;
  gap: 24px;

  /* background-color: aqua; */
}

.servBoxtop {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* background-color: #0070f3; */
}

.servicesBoxTwo {
  height: 240px;
  width: 1232px;
  margin-top: 28px;
  width: 1240px;

  /* background-color: green; */
}

.servicesContainerTwo {
  display: flex;
  gap: 28px;

  /* background-color: aliceblue; */
}

/* .servCardText {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
} */

.serviceHthre {
  font-weight: 700;
}

.service-slider-btns {
  margin-top: 45px;
  display: flex;
  justify-content: center;
}