.servicesBox {
  margin: 90px 100px 0 100px;
  height: 600px;
  width: 1240px;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: #fffdf5;
  padding: 48px 32px 48.17px 32px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  height: 240px;
  width: 287px;
  text-align: center;
  transition: all 0.3s ease;
}

.card:hover {
  cursor: pointer;
  transform: translateY(-5px);
}

.servCardText p {
  margin-top: 20px;
  text-align: left;
  color: #283751;
  width: 170px;
  font-size: 22px;
  font-family: "Poppins", sans-serif;
}

.suite-serv {
  height: 206px;
  width: 608px;
}

.suite-serv h3 {
  font-size: 40px;
  font-weight: 900;
}

.suite-serv p {
  height: 64px;
  width: 608px;
  color: #283751;
  font-size: 16px;
  margin-top: 22px;
  font-family: "Poppins", sans-serif;
}

.servicesContainer {
  height: 240px;
  width: 608px;
  display: flex;
  gap: 24px;
}

.servBoxtop {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.servicesBoxTwo {
  height: 240px;
  width: 1232px;
  margin-top: 28px;
  width: 1240px;
}

.servicesContainerTwo {
  display: flex;
  gap: 28px;
}

.serviceHthre {
  font-weight: 700;
}

.service-slider-btns {
  margin-top: 45px;
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .service-container {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .servicesBox {
    margin: 60px 26.93px 0 30pxpx;
    height: 376px;
    width: 777.07px;
  }

  .suite-serv {
    height: 139.79px;
    width: 381.01px;
  }

  .suite-serv h3 {
    font-size: 24px;
    font-weight: 900;
  }

  .suite-serv p {
    height: 54px;
    width: 381.01px;
    font-size: 12px;
    margin-top: 13.79px;
  }

  .servicesContainer {
    height: 150.4px;
    width: 374.75px;
    display: flex;
    gap: 15.04px;
    margin: 0 5.01px 17.55px 16.29px;
  }

  .card {
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: #fffdf5;
    padding: 30.08px 17.8px 29.28px 20.05px;

    border-radius: 7.52px;
    height: 150.4px;
    width: 179.85px;
    text-align: center;
  }

  .services-icons {
    /* height: 40.11px;
    width: 40.11px; */
    height: 34.46px;
    width: 34.46px;
  }

  .servCardText p {
    margin-top: 12.53px;
    text-align: left;
    /* width: 142px; */
    width: 110px;
    font-size: 14px;
  }

  .servicesBoxTwo {
    height: 150.4px;
    /* margin-top: 17.55px; */
    width: 772.04px;
  }

  .servicesContainerTwo {
    display: flex;
    gap: 18px;
  }
}

@media (min-width: 430px) and (max-width: 767px) {
  .service-container {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .servicesBox {
    margin: 60px 25.29px 0 25px;
    height: auto;
    width: 379.71px;
  }

  .servBoxtop {
    /* height: 475.2px; */
    display: flex;
    flex-direction: column;
    gap: 29.21px;
  }

  .suite-serv {
    height: 139.79px;
    width: 381.01px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .suite-serv h3 {
    text-align: center;
    font-size: 24px;
  }

  .suite-serv p {
    height: 54px;
    width: 381.01px;
    font-size: 12px;
    margin: 13.79px 0 0 0;
    text-align: center;
  }

  .servicesContainer {
    height: 150.4px;
    width: 379.71px;
    display: flex;
    gap: 20px;
  }

  .card {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 30.08px 17.8px 29.28px 20.05px;  
    border-radius: 7.52px;
    height: 150.4px;
    width: 179.85px;
    text-align: center;
  }

  .servCardText p {
    margin-top: 12.53px;
    text-align: left;
    width: 142px;
    font-size: 14px;
  }

  .services-icons {
    height: 40.11px;
    width: 46.37px;
  }

  .servicesContainerTwo {
    width: 379.71px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .projleftIcon,
  .projrightIcon {
    height: 21.31px;
    width: 21.93px;
    margin-top: 20px;
  }
}
