.joinTeamBox {
  height: 468px;
  width: 1242px;
  margin: 89.67px 97px 0 101px;
}

.joinTeam-head {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.joinTeam-head h2 {
  color: #283751;
}

.horizontalLine-join {
  display: flex;
  justify-content: center;
}

.joinTeam-head p {
  height: 44px;
  width: 892px;
  font-size: 16px;
  color: #616161;
  letter-spacing: 0.7px;
  margin: 30px 177px 45px 173px;
}

.jointeam-icons {
  height: 34px;
  width: 85px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin: 45.33px 580px 0.33px 577px;
}

.joinTeamCardBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.joinTeamCards {
  height: 203px;
  width: 1241.98px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 0;
}

.joinUsCard {
  height: 203px;
  width: 406.66px;
  padding: 20px;
  background-color: #fffdf5;
  border-radius: 8px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.joinUsCard:hover {
  transform: translateY(-5px);
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.join-title {
  color: #35302f;
  font-weight: 600;
  font-family: "PT Sans", Arial, sans-serif;

  margin-top: 15px;
}

.join-trend {
  font-size: 0.7rem;
  border: 1px solid #ea4232;
  padding: 4px 8px;
  border-radius: 20px;
  color: #ea4232;
  font-family: "PT Sans", Arial, sans-serif;
}

.card-details {
  line-height: 1.5;
  font-size: 0.9rem;
}

.card-details span {
  color: #7e7275;
  font-weight: 400;
  font-family: "PT Sans", Arial, sans-serif;
}

.card-details p {
  margin: 5px 0;
  color: #7e7275;
  font-weight: 700;
  font-family: "PT Sans", Arial, sans-serif;
}

.join-employer {
  font-size: 0.9rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .join-container {
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .joinTeamBox {
    width: 775px;
    height: 302px;
    margin: auto;
    margin: 60.12px 30px 60px 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .joinTeam-head h2 {
    font-size: 40.56px;
  }

  .joinTeam-head p {
    height: 34px;
    width: 556.55px;
    font-size: 12px;
    letter-spacing: 0.7px;
    margin: 18.72px 109.51px 30px 108.94px;
  }

  #horizontalLine {
    width: 103.57px;
  }

  .joinTeamCards {
    width: 774.91px;
    height: 126.66px;
    display: flex;
    gap: 6.86px;
    padding: 0;
  }

  .joinUsCard {
    height: 126.66px;
    width: 253.73px;
    padding: 12.48px;
    border-radius: 4.99px;
  }

  .join-title {
    margin-top: 0;
  }

  .card-head h3 {
    font-size: 12.48px;
  }

  .join-trend {
    width: 69.26px;
    height: 15px;
    font-size: 7.49px;
    padding: 1.25px 8.91px 0.65px 15.34px;
  }

  .card-details {
    margin-top: 5.93px;
  }

  .card-details p {
    font-size: 8.74px;
  }

  .jointeam-icons {
    height: 21.21px;
    width: 53.03px;
    display: flex;
    gap: 9.36px;
    margin-top: 30px;
  }

  #horizontalLine {
    margin-top: 7.56px;
  }
}
