.marketingBox {
  display: flex;
  height: 478px;
  width: 1460px;
  margin: 50px 0;
  padding: 53px 100.93px 53px 100px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  gap: 27px;

  background-color: #fffdf5;
}

.market-head {
  width: 605px;
  font-size: 64px;
  font-weight: 700px;
  line-height: -10;
}

/* -----=======---------=======-------===== */

.marketLeft {
  height: 372px;
  /* width: 593px; */
}
/* -----=======---------=======-------===== */

/* .marketLeft h2 {
  font-size: 64px;
  font-weight: 600;
} */

.qustion-mark {
  color: #ea4232;
}

.market-desc {
  font-size: 16px;
  color: #616161;
  margin-top: 40px;
}

.marketRight {
  height: 316px;
  width: 619.7;
  padding: 56px 0 0 0;

  /* background-color: aquamarine; */
}

.market-btn {
  height: 60px;
  width: 255px;
  margin-top: 60px;
  border-radius: 30px;
  border: none;
  background-color: #ea4232;
  color: #fcfcfc;
  font-size: 16px;
  font-weight: 700;
}

.market-btn:hover {
  cursor: pointer;
}
